.table > tbody > tr > td {
    vertical-align: middle !important;
    color: #73879c;
    font-size: 13px;
}

.table tbody tr td p {
    margin: 0 !important;
    padding: 0 !important;
}

img.thumb {
    width: 100%;
}

.btn-icon {
    border-radius: 100%;
    font-size: 10px;
    margin-right: 6px;
    padding: 7px 10px;
}

.btn-round {
    border-radius: 30px;
    font-size: 13px;
}

.action-box {
    display: flex;
    justify-content: center;
}

.disable {
    pointer-events: none;
    background-color: #d4d4d4 !important;
    color: #aaa !important;
}

.card-header > .card-tools .input-group,
.card-header > .card-tools .nav,
.card-header > .card-tools .pagination {
    margin-bottom: -0.3rem !important;
    margin-top: -0.3rem !important;
}

.input-group.input-group-sm.mb-3 {
    font-size: 10px;
}

.dropdown-menu .dropdown-item a {
    color: #000;
}

.hightlight {
    background-color: rgb(255, 251, 0);
}

.close {
    color: #fff;
}

.img-circle.elevation-2 {
    width: 2rem;
    margin-top: -5px !important;
}

.main-header > .navbar-nav > .nav-item:hover {
    background-color: #e4e4e4;
    transition: all 0.75s;
}

.rsize-none {
    resize: none;
}

.custom-input-file {
    height: calc(1.8125rem + 2px);
    padding: 0.08rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
/** ADD YOUR AWESOME CODES HERE **/
